.App {
  text-align: center;
}

.App-header{
 align-items: center;
 padding: 60px;
 text-align: center;
 background: red;
 color: white;
 font-size: 30px;
}

.Mountain-View, .Lake-View{
 display: flex;
 flex-direction: row;
 gap: 10px;
}
